.status-bar {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 8px;
}

#reset-button {
  background-color: #ffc107;
  border: 0;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

#reset-button:hover {
  transform: scale(1.05);
}

#reset-button:active {
  transform: scale(0.95);
}

.overlay {
  background: rgba(0, 0, 0, 0.6); /* semi-transparent dark */
  z-index: 100; /* above everything */
}

.overlay-content {
  background-color: #171e2c;
  border: 5px solid #4a5565;
}

#overlay-icon {
  filter: drop-shadow(0 0 10px #ffd700);
  color: #ffd700;
  width: 10em;
  height: 10em;
}

#overlay-title {
  /* gradient text from gold to orange */
  background: linear-gradient(to right, #ffd700, #e26002);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* optional but nice */
  background-clip: text;
}

#back-to-menu-button {
  background-color: #ffc107;
  border: 0;
}

#trophy-status-icon {
  color: #ffd700;
}

#skull-status-icon {
  color: #e53e3e;
}

#time-status-icon {
  color: #63b3ed;
}

#star-status-icon {
  color: #f6e05e;
}
