#instructions-card {
  background-color: rgba(54, 54, 54, 0.9); /* Semi-transparent white */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  max-width: 600px;
}

#header-how {
  color: white;
  text-shadow:
    2px 2px 4px #000000,
    0 0 10px black;
}

#header-to-play {
  color: #ffdf20;
  text-shadow:
    2px 2px 4px #000000,
    0 0 10px #ffdf20;
}
