body {
  font-family: "Montserrat", sans-serif;
  background-image: url("../assets/brick-wall.png");
  background-size: cover;
  background-repeat: no-repeat;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
  z-index: -1; /* Ensure overlay is above the background */
}

#instructions-card {
  background-color: rgba(54, 54, 54, 0.9); /* Semi-transparent white */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  max-width: 600px;
}

.button {
  background-color: #28313d;
  min-width: 350px;
  transition: transform 0.2s ease;
  border-color: #4a5565;
  border-radius: 10px;
  border-width: 2px;
}

.button:hover {
  transform: scale(1.05);
  background-color: #28313d;
  border-color: #4a5565;
}

.button:active {
  transform: scale(0.95);
  background-color: #28313d;
  border-color: #4a5565;
}

#header-how {
  color: white;
  text-shadow:
    2px 2px 4px #000000,
    0 0 10px black;
}

#header-to-play {
  color: #ffdf20;
  text-shadow:
    2px 2px 4px #000000,
    0 0 10px #ffdf20;
}
