/* glow */
#header-rage {
  color: white;
  text-shadow:
    2px 2px 4px #000000,
    0 0 10px black;
}

#header-run {
  color: #ffdf20;
  text-shadow:
    2px 2px 4px #000000,
    0 0 10px #ffdf20;
}

#start-button {
  background-color: #ffc107;
  border: 0;
}
