body {
  font-family: "Montserrat", sans-serif;
  background-image: url("../assets/brick-wall.png");
  background-size: cover;
  background-repeat: no-repeat;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
  z-index: -1; /* Ensure overlay is above the background */
}

#game-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 100px;
  width: 100px;
  z-index: 1;
}

.min-w-250px {
  min-width: 250px;
}

.button {
  background-color: #28313d;
  transition: transform 0.2s ease;
  border-color: #4a5565;
  border-radius: 10px;
  border-width: 2px;
}

.button:hover {
  transform: scale(1.05);
  background-color: #28313d;
  border-color: #4a5565;
}

.button:active {
  transform: scale(0.95);
  background-color: #28313d;
  border-color: #4a5565;
}
