html {
  overflow: hidden;
}

body {
  min-height: 100vh;
  margin: 0;
  background-image: url('/assets/brick-wall2.png');
  background-size: cover;
  position: relative;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: -1; /* Ensure overlay is above the background */
}

#container {
  margin-top: -100px;
}